@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  flex-direction: column;
}

header {
  display: flex;
  font-family: "Josefin Sans";
  margin-bottom: 50px;
  color: #0e402d;
  justify-content: center;
  align-items: center;
}

.headerButton {
  height: 60px;
  width: 175px;
  border: none;
  font-family: "Josefin Sans";
  background: none;
  font-size: 24px;
  letter-spacing: 7px;
  cursor: pointer;
  font-weight: 300;
}

div#company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

#companyTitle {
  font-size: 35px;
  font-weight: 1000;
}

a#companyTitle,
a#aboutUs {
  text-decoration: none;
  color: #0e402d;
}

a#aboutUs {
  font-size: 20px;
  background: #0e402d;
  color: #ffffff;
  padding: 10px 5px 5px;
}

div#cukurins {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#footerhp {
  align-items: center;
  justify-content: center;
}

#mekpecrek {
  display: flex;
  background-color: #004f2d;
  margin: 0 10%;
  text-align: center;
  width: 80%;
  height: 200px;
  flex-direction: column;
}

#meklesanasievade {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mekpecrekvirsraksts {
  padding: 25px 0 50px 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 33px;
  font-family: "Red Hat Display";
  align-items: center;
}

#meklesanarek {
  width: 35%;
  height: 37px;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 0.3em;
}

#izvelerek {
  width: 15%;
  height: 37px;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 0.5em;
}

#meklesanarek,
#izvelerek {
  font-family: Rubik;
  border: none;
  border-radius: 10px;
}

#meklesanarek:focus,
#izvelerek:focus {
  outline: none;
}

#mekletpoga {
  background-color: #e0dddd;
  outline: none;
  border: none;
  height: 37px;
  width: 150px;
  border-radius: 20px;
  margin-left: 30px;
  font-family: Rubik;
  font-size: 20px;
}

p.meklp {
  margin: 0 10px 0 0;
  font-size: 20px;
  font-family: "Red Hat Display";
  color: #fff;
  font-weight: 600;
}
