<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Par mums - NOMAUTO</title>
    <link rel="stylesheet" href="../../static/css/aboutUs.css" />
  </head>
  <body>
    <header>
      <div id="galvene">
        <button id="poga1">meklēšana</button>
        <p id="nosaukums">AUTONOMA</p>
        <button id="poga1">rezervācija</button>
      </div>
    </header>
      <section>
        <div id="mape">
          <img src="../../static/img/aboutus-map.png" width="400px" height="360px">
        </div>
        <p id="atrasanas-vieta">Atrašanās vieta</p>
        <p id="adrese">Brīvības gatve 190, Rīga, Latvija</p>
        <p id="post-code">LV-2110</p>
      </section>
      <aside>
        <div>
          <p id="teksts">Suspendisse fringilla in nulla in tincidunt. Maecenas tellus libero, convallis vel urna vel, sollicitudin auctor tellus. Duis dignissim, erat ac sollicitudin ornare.</p>
        </div>
        <div id="info">
          <p id="kontakti">Kontakti</p>
          <p id="epasts">E-pasts: info@nomauto.lv</p>
          <p id="tel-nr">Tel. nr.: +371 67977313</p>
          <p id="fakss">Fakss: +371 67977941</p>
        </div>
      </aside>
  </body>
