<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Par mums - NOMAUTO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}" />
  </head>
  <body>
    <header>
      <button class="headerButton" href="#">auto klāsts</button>
      <div id="company">
        <a id="companyTitle" href="/">NOMAUTO</a>
        <a id="aboutUs" href="aboutUs.html">par mums</a>
      </div>
      <button class="headerButton">nomas punkti</button>
    </header>
    <div id="greenBackground"></div>
    <div id="middle">
      <div id="kreisais">
        <div id="mape">
          <img
            src="../static/img/aboutus-map.png"
            width="400px"
            height="360px"
          />
        </div>
        <div id="adrese">
          <h2 class="adreseh2">Atrašanās vieta</h2>
          <p class="adresep">Brīvības gatve 190, Rīga, Latvija</p>
          <p class="adresep">LV-2110</p>
        </div>
      </div>
      <div id="labais">
        <div id="mazsInfo">
          <p id="teksts">
            Suspendisse fringilla in nulla in tincidunt. Maecenas tellus libero,
            convallis vel urna vel, sollicitudin auctor tellus. Duis dignissim,
            erat ac sollicitudin ornare.
          </p>
        </div>
        <div id="kontakti">
          <h2 class="kontaktih2">Kontakti</h2>
          <p class="kontaktip">E-pasts: info@nomauto.lv</p>
          <p class="kontaktip">Tel. nr.: +371 67977313</p>
          <p class="kontaktip">Fakss: +371 67977941</p>
        </div>
      </div>
    </div>
  </body>
</html>
