<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOMAUTO - Administrācijas autorizācija</title>
    <link rel="stylesheet" href="../../static/css/adminLogin.css" />
  </head>
  <body>
    <header>
      <button id="poga1">meklēšana</button>
      <div id="p">
        <p id="nosaukums">NOMAUTO</p>
        <p id="nosaukums2">Administration mode</p>
      </div>
      <button type="submit" id="poga1">rezervācija</button>
    </header>

    <div id="middle">
      <div id="loginPanel">
        <h1>AUTORIZĀCIJA</h1>
        <div id="user">
          <p>LIETOTĀJVĀRDS</p>
          <input id="userField" />
        </div>
        <div id="pass">
          <p>AUTORIZĀCIJAS ATSLĒGA</p>
          <input id="passField" type="password" />
        </div>
        <button id="login" type="submit">pieslēgties</button>
      </div>
      <div id="greenShadow"></div>
    </div>
  </body>
</html>
