<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercedes Benz XYZ - NOMAUTO</title>
    <link rel="stylesheet" href="../../static/css/carInfoPage.css" />
  </head>
  <body>
    <header>
      <button id="poga1">meklēšana</button>
      <p id="nosaukums">NOMAUTO</p>
      <button id="poga1">rezervācija</button>
    </header>
    <section>
      <div id="teksts">
        <h1>Etiam nisi erat</h1>
        <p>
          Etiam nisi erat, blandit in lectus ut, consequat tincidunt tellus.
          Suspendisse hendrerit eleifend ex quis rutrum. Aliquam accumsan lorem
          ut est lacinia, ac vestibulum risus rutrum. Suspendisse commodo
          aliquet congue. Praesent eros justo, dignissim posuere cursus in,
          pretium maximus erat. Proin ut eros turpis. Nam luctus, dui a
          tincidunt sagittis, dolor quam porta ligula, id semper nisi turpis eu
          quam.
        </p>
        <button id="reservation-button">rezervēt</button>
      </div>
    </section>
    <aside>
      <div id="attels">
        <img
          src="../../static/img/reservation-page-foto.png"
          width="640px"
          height="500px"
        />
      </div>
    </aside>
  </body>
</html>
