<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOMAUTO - Auto rezervācija</title>
    <link rel="stylesheet" href="../../static/css/carReservation.css" />
  </head>
  <body>
    <header>
      <button id="poga1">meklēšana</button>
      <p id="nosaukums">AUTONOMA</p>
      <button id="poga1">rezervācija</button>
    </header>
    <div id="teksts1">
      <p>
        Jānis Bērziņš Rez. Nr. 00000000 <br />
        Nomas punkts: PeterAuto <br />
        Marka: BMW<br />
        Modelis: 735 <br />
        Gads: 2013 <br />
        Sākums: 21.01.2019 9:00 <br />
        Beigas: 22.01.2019 21:00<br />
        Cena: 200 euro
      </p>
    </div>
    <div id="buttons">
      <button class="atcelt">atcelt</button>
      <button class="labot">labot</button>
      <button class="drukat">drukāt</button>
    </div>
    <div id="greenthingy">
      <div id="photo">
        <img src="../../static/img/foto4.jpg" width="380px" height="250px" />
      </div>
    </div>
  </body>
</html>
