<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto noma - NOMAUTO</title>
    <link rel="stylesheet" href="../../static/css/index.css" />
  </head>
  <body>
    <header>
      <button class="headerButton" href="#">auto klāsts</button>
      <div id="company">
        <a id="companyTitle" href="#">NOMAUTO</a>
        <a id="aboutUs" href="about">par mums</a>
      </div>
      <button class="headerButton" href="#">nomas punkti</button>
    </header>
    <div id="cukurins">
      <img
        src="../../static/img/cukurins.png"
        style="max-height: 450px; border-radius: 200px"
      />
    </div>
    <div id="footerhp">
      <div id="mekpecrek">
        <div id="mekpecrekvirsraksts">Meklēšana pēc rekvizītiem</div>
        <div id="meklesanasievade">
          <p class="meklp">FILTRĒT:</p>
          <select name="izvelerek" id="izvelerek">
            <option value="Nomas punkts">Nomas punkts</option>
            <option value="Marka">Marka</option>
            <option value="Klase">Klase</option>
            <option value="Pieejamība">Pieejamie datumi</option>
          </select>
          <select name="meklesanarek" id="meklesanarek">
            <option value="Nomas punkts"></option>
            <option value="Marka">Brīvības gatve 290, Rīga</option>
            <option value="Klase">Tērbatas iela 13, Rīga</option>
            <option value="Pieejamība">Mazā stacijas iela 9B, Dzintari</option>
          </select>
          <button id="mekletpoga">MEKLĒT</button>
        </div>
      </div>
    </div>
  </body>
</html>
