<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nomas punkts</title>
    <link rel="stylesheet" href="../../static/css/rentPointPage.css" />
  </head>
  <body>
    <header>
      <button id="poga1">meklēšana</button>
      <p id="nosaukums">NOMAUTO</p>
      <button id="poga1">rezervācija</button>
    </header>
    <div id="middle">
      <div id="greenthingy">
        <div id="column">
          <div class="attels">
            <img
              class="backgroundPhoto"
              src="../../static/img/rent-point-foto1.png"
              width="640px"
              height="360px"
            />
          </div>
          <div class="attels">
            <img
              class="backgroundPhoto"
              src="../../static/img/rent-point-foto2.png"
              width="640px"
              height="360px"
            />
          </div>
        </div>
      </div>
      <div id="info">
        <div id="teksts">
          <h1>Suspendisse fringilla</h1>
          <p>
            Suspendisse fringilla in nulla in tincidunt. Maecenas tellus libero,
            convallis vel urna vel, sollicitudin auctor tellus. Duis dignissim,
            erat ac sollicitudin ornare, nulla diam rhoncus risus, quis placerat
            velit velit id nisi. Quisque dignissim purus ut nulla efficitur, in
            facilisis justo sagittis.
          </p>
        </div>
        <div id="teksts">
          <h2>Auto klāsts</h2>
          <div id="carList">
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
            <div id="car">
              <img
                src="../../static/img/rent-point-foto3.png"
                width="190px"
                height="110px"
              />
              <span>Lorem Ipsum XYZ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
