<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meklēšanas rezultāti - NOMAUTO</title>
    <link rel="stylesheet" href="../static/css/searchResultPage.css" />
  </head>
  <body>
    <header>
      <button id="poga1">meklēšana</button>
      <p id="nosaukums">NOMAUTO</p>
      <button id="poga1">rezervācija</button>
    </header>
    <div id="info">
      <div id="teksts">
        <h1>Suspendisse fringilla</h1>
        <p>
          Suspendisse fringilla in nulla in tincidunt. Maecenas tellus libero,
          convallis vel urna vel, sollicitudin auctor tellus. Duis dignissim,
          erat ac sollicitudin ornare, nulla diam rhoncus risus, quis placerat
          velit velit id nisi. Quisque dignissim purus ut nulla efficitur, in
          facilisis justo sagittis.
        </p>
      </div>
      <div id="teksts">
        <h1>Orci varius natoque</h1>
        <p>
          Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Integer ut ante velit. Aliquam purus elit,
          pulvinar quis sapien quis, hendrerit tincidunt urna. Donec a ante non
          enim fringilla volutpat.
        </p>
      </div>
    </div>
    <div id="greenthingy">
      <div id="column">
        <div class="attels">
          <img src="../static/img/foto3.jpg" width="640px" height="360px" />
        </div>
        <div class="attels">
          <img src="../static/img/foto4.jpg" width="640px" height="360px" />
        </div>
      </div>
    </div>
  </body>
</html>
